/*===============================================
DEFAULT VALUES

font family ; font-family: monospace;
Green       : #00aa00
White       :#fff;


==================================================*/


/*General Css*/
html,
body {
    height: 100%;
}


body {
    font-family: monospace;
}

